body{
    margin: 0 auto;
}

.header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.header-bild{
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    padding: 200px 0px 200px 0px;
}

.bild-text-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bild-box{
    display: flex;
    flex-direction: column; /* Die Elemente werden vertikal untereinander angezeigt */
    align-items: center; /* Horizontal zentrierte Ausrichtung */
}

.text-box{
    display: flex;
    align-items: center; /* Horizontal zentrierte Ausrichtung */
    justify-content: center;
}

.text-box > div{
    width: 100vw;
}

.bild{
    box-shadow: 5px 5px 10px #bbbbbb;
    padding: 50px;
    margin: 20px 5px 20px 5px;
    width: 40vw;
}

.text{
    text-align: center;
    box-shadow: 5px 5px 10px #bbbbbb;
    padding: 50px;
    margin: 20px 5px 20px 5px;
    width: 30vw;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

@media only screen and (max-width: 720px){
    
    .bild-text-box{
        display: block;
    }

    .bild{
        width: 95vw;
        border: 1px solid black;
        box-shadow: none;
        padding: 0;
    }

    .text{
        width: 95vw;
        border: 1px solid black;
        box-shadow: none;
        padding: 0;
    }
    
}