body{
    font-family: 'EB Garamond';
    font-size: large;
    margin: 0 auto;
    background-color: white;
    color: black;
}
/*
.header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
*/
.header-bild{
    margin: 0 auto;
    max-height: 100vh;
    width: 100vw;
    position: relative;
}

.header-bild video {
    width: 100%;
    height: auto;
    max-height: 100vh;
}

.play-button {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-family: 'EB Garamond';
    font-size: larger;
    font-weight: bold;
    background-color: #05A0D1;
    color: white;
    border: none;
    border-radius: 0.3vw;
    cursor: pointer;
}

h1{
    text-align: center;
}

.bild-text-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bild-box{
    display: flex;
    align-items: center; /* Horizontal zentrierte Ausrichtung */
    margin: 0 auto;
    align-content: center;
}

.text-box{
    display: flex;
    align-items: center; /* Horizontal zentrierte Ausrichtung */
    justify-content: center;
    line-height: 120%;
}

.text-box > div{
    width: 95vw;
}

.bild{
    box-shadow: 5px 5px 10px #bbbbbb;
    /* padding: 50px; */
    margin: 20px 5px 20px 5px;
    width: 40vw;
}

.mittelbild{
    /* padding: 50px; */
    /* margin: 20px 5px 20px 5px; */
    width: 40vw;
    margin: 0 auto;
}

.mitteltext{
    width: 10vw;
    box-shadow: 5px 5px 10px #bbbbbb;
    padding: 50px;
    margin: 20px 5px 20px 5px;
    line-height: 120%;
}

.text{
    /* text-align: center; */
    background-color: #e9e9e9;
    box-shadow: 5px 5px 10px #bbbbbb;
    padding: 50px;
    margin: 20px 5px 20px 5px;
    width: 30vw;
    line-height: 120%;
}

/* Lichtschwert Bild */
.heimkino-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.heimkino-box .bild {
    position: relative;
    z-index: 1;
    box-shadow: 5px 5px 10px #bbbbbb;
    /* padding: 50px; */
    margin: 20px 5px 20px 5px;
    width: 40vw;
}

.heimkino-box .text {
    position: relative;
    z-index: 1;
    background-color: #e9e9e9;
    box-shadow: 5px 5px 10px #bbbbbb;
    padding: 50px;
    margin: 20px 5px 20px 5px;
    width: 30vw;
    line-height: 120%;
}

.heimkino-box .lichtschwert {
    position: absolute;
    z-index: 0;
    bottom: 38vh; /* Abstand von unten, anpassen nach Bedarf */
    right: 9.2vw; /* Abstand von rechts, anpassen nach Bedarf */
    width: 6vw;
    rotate: 30deg;
}

.lichtschwert2{
    display: none;
    position: absolute;
    z-index: 0;
    bottom: 38vh; /* Abstand von unten, anpassen nach Bedarf */
    right: 9.2vw; /* Abstand von rechts, anpassen nach Bedarf */
    width: 6vw;
    rotate: 30deg;
}

.heimkino-box .crunchyroll{
    position: absolute;
    z-index: 0;
    bottom: 4vh; /* Abstand von unten, anpassen nach Bedarf */
    right: 41vw; /* Abstand von rechts, anpassen nach Bedarf */
    width: 6vw;
}

/* Controller Bilder */
.spieleabende-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.spieleabende-box .bild {
    position: relative;
    z-index: 1;
    box-shadow: 5px 5px 10px #bbbbbb;
    /* padding: 50px; */
    margin: 20px 5px 20px 5px;
    width: 40vw;
}

.spieleabende-box .text {
    position: relative;
    z-index: 1;
    background-color: #e9e9e9;
    box-shadow: 5px 5px 10px #bbbbbb;
    padding: 50px;
    margin: 20px 5px 20px 5px;
    width: 30vw;
    line-height: 120%;
}

.spieleabende-box .controller {
    position: absolute;
    z-index: 0;
}

.spieleabende-box .xbox {
    top: 10px; /* Abstand von oben, anpassen nach Bedarf */
    left: 11vw; /* Abstand von links, anpassen nach Bedarf */
    width: 5vw; /* Größe des Controllers, anpassen nach Bedarf */
    /* rotate: -30deg; */
    animation: moveAndRotateleft 8s infinite;
}

.spieleabende-box .playstation {
    bottom: 20px; /* Abstand von unten, anpassen nach Bedarf */
    right: 13vw; /* Abstand von rechts, anpassen nach Bedarf */
    width: 5vw; /* Größe des Controllers, anpassen nach Bedarf */
    /* rotate: 30deg; */
    animation: moveAndRotateright 8s infinite;
}

@keyframes moveAndRotateright {
    0% {
        transform: translateX(0) rotate(0deg);
    }
    50% {
        transform: translateX(4vw) rotate(30deg); /* Passe die Werte nach Bedarf an */
    }
    100% {
        transform: translateX(0) rotate(0deg);
    }
}

@keyframes moveAndRotateleft {
    0% {
        transform: translateX(0) rotate(0deg);
    }
    50% {
        transform: translateX(-4vw) rotate(-30deg); /* Passe die Werte nach Bedarf an */
    }
    100% {
        transform: translateX(0) rotate(0deg);
    }
}

/* Bilder Karussell */

.slideshow-container {
    max-width: 60vw;
    position: relative;
    margin: auto;
    box-shadow: 5px 5px 10px #bbbbbb;
  }
  
  .mySlides {
    display: none;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Schaltflächen zum Wechseln */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #FF34B3;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: #00cb4c;
  }
  
  /* Punkte */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #00cb4c;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #FF34B3;
  }
  
  /* Fade-Effekt */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


/*
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
*/
@media only screen and (max-width: 720px){
    
    .bild-text-box{
        display: flex;
        flex-direction: column;
        max-width: 90vw;
        margin: 0 auto;
    }

    .bild{
        width: 95vw;
        border: 1px solid black;
        box-shadow: none;
        padding: 0;
        margin-bottom: 0px;
    }

    .mittelbild{
        width: 95vw;
        box-shadow: none;
        padding: 0;
        margin-bottom: 0px;
    }

    .mitteltext > .mittelbild{
        margin-top: 0px;
    }

    .bild-box{
        flex-direction: column;
    }

    .mitteltext{
        width: 90vw;
        max-width: 90vw;
        border: 1px solid black;
        box-shadow: none;
        padding: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 130%;
    }

    .text{
        width: 90vw;
        max-width: 90vw;
        border: 1px solid black;
        box-shadow: none;
        padding: 10px;
        margin-top: 0px;
        line-height: 130%;
    }

    h1{
        line-height: 120%;
    }

    h2{
        line-height: 130%;
        text-align: center;
    }

    .slideshow-container{
        max-width: 95vw;
    }

    .spieleabende-box .bild {
        position: relative;
        z-index: 1;
        width: 95vw;
        border: 1px solid black;
        box-shadow: none;
        padding: 0;
        margin-bottom: 0px;
    }
    
    .spieleabende-box .text {
        position: relative;
        z-index: 1;
        width: 90vw;
        max-width: 90vw;
        border: 1px solid black;
        box-shadow: none;
        padding: 10px;
        margin-top: 0px;
        line-height: 130%;
    }

    .spieleabende-box .xbox {
        top: -10px; /* Abstand von oben, anpassen nach Bedarf */
        left: 6vw; /* Abstand von links, anpassen nach Bedarf */
        width: 13vw; /* Größe des Controllers, anpassen nach Bedarf */
        rotate: 0deg;
        animation: none;
    }
    
    .spieleabende-box .playstation {
        bottom: -10px; /* Abstand von unten, anpassen nach Bedarf */
        right: 6vw; /* Abstand von rechts, anpassen nach Bedarf */
        width: 13vw; /* Größe des Controllers, anpassen nach Bedarf */
        rotate: 180deg;
        animation: none;
    }

    .heimkino-box .bild {
        position: relative;
        z-index: 1;
        width: 95vw;
        border: 1px solid black;
        box-shadow: none;
        padding: 0;
        margin-bottom: 0px;
    }
    
    .heimkino-box .text {
        position: relative;
        z-index: 1;
        width: 90vw;
        max-width: 90vw;
        border: 1px solid black;
        box-shadow: none;
        padding: 10px;
        margin-top: 0px;
        line-height: 130%;
    }

    .heimkino-box .lichtschwert{
        z-index: 2;
        width: 20vw;
        rotate: 0deg;
        bottom: 60vw;
    }

    .heimkino-box .lichtschwert2{
        display: block;
        z-index: 2;
        width: 20vw;
        rotate: 0deg;
        bottom: 60vw;
        right: 64vw;
    }

    .play-button {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        font-family: 'EB Garamond';
        font-size: medium;
        font-weight: bold;
        background-color: #05A0D1;
        color: white;
        border: none;
        border-radius: 1vw;
        cursor: pointer;
    }
    
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #7d7d7d;
        color: white;
    }

    .text{
        background-color: #999999;
        color: white;
        box-shadow: 3px 3px 8px black;
    }

    .bild{
        /* background-color: #999999; */
        color: white;
        box-shadow: 3px 3px 8px black;
    }

    .mitteltext{
        box-shadow: 3px 3px 8px black; 
    }
    
    .slideshow-container{
        box-shadow: 3px 3px 8px black;
    }
    
    .spieleabende-box .bild {
        box-shadow: 3px 3px 8px black; 
    }
    
    .spieleabende-box .text {
        background-color: #999999;
        color: white;
        box-shadow: 3px 3px 8px black;
    }

    .heimkino-box .bild {
        box-shadow: 3px 3px 8px black; 
    }
    
    .heimkino-box .text {
        background-color: #999999;
        color: white;
        box-shadow: 3px 3px 8px black;
    }
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../Schriftart/static/EBGaramond-SemiBold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../Schriftart/static/EBGaramond-ExtraBold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}