/* Allgemein */
body{
    margin: 0 auto;
    background-color: #d3d3d3;
    color: black;
    font-size: 1.5rem;
}

.center{
    text-align: center;
}

h1{
    text-align: center;
    font-size: 6rem;
    
}

h1, h2, h3{
    font-family: 'Videogames';
}

h2{
    font-size: 3rem;
}

h4{
    font-family: 'Ubuntu';
}

/* Header */
.header-bild{
    margin: 0 auto;
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
    overflow: hidden;
}

.header-bild video {
    width: 100vw;
    height: auto;
    max-height: 100vh;
    object-fit: cover;
}

.header-text{
    margin-top: 5%;
    margin-bottom: 3%;
}

table {
    width: 80vw; /* Das gesamte Viewport-Breiteneinnehmen */
    table-layout: fixed; /* Jede Zelle hat eine feste Breite */
    border-collapse: collapse; /* Zusammenbruch der Zellenränder */
}

td {
    width: 33.33%; /* Jede Zelle nimmt 33.33% des Viewports ein */
    padding: 20px; /* Innenabstand für besseren Textabstand */
    vertical-align: top; /* Vertikale Ausrichtung des Inhalts oben */
    box-sizing: border-box; /* Padding und Border werden zur Gesamtbreite und -höhe der Elemente hinzugefügt */
    text-align: left; /* Text links ausrichten */
    font-family: 'Ubuntu';
}

.entspannen2,
.spaß2,
.freundschaft2{
    display: block;
    margin: 0 auto;
}

.entspannen,
.spaß,
.freundschaft{
    display: none;
}

.floating-text {
    color: black;
    position: absolute;
    z-index: 10;
    top: 60%; /* Startposition in der Mitte des Videos */
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Unsichtbar zu Beginn */
    transition: opacity 6s ease-in-out;
}

#meinVideo{
    max-width: 100vw;
}

.play-button {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #05A0D1;
    color: white;
    border: none;
    border-radius: 0.3vw;
    cursor: pointer;
}

/* Anordnung */
.bild-text-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

.bild-box{
    display: flex;
    align-items: center; /* Horizontal zentrierte Ausrichtung */
    margin: 0 auto;
    align-content: center;
    max-width: 100vw;
    margin-top: 8%;
}

.text-box{
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontal zentrierte Ausrichtung */
    justify-content: center;
    margin-top: 8%;
}

.polaroid {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);  
}

.polaroid > img{
    max-width: 100%;
    height: auto;
}

.caption {
    font-family: "Permanent Marker", cursive;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    line-height: 2em;
    color: black;
}

.item {
    width: 100%;
    display: inline-block;
    margin-top: 2rem;
}

.item:hover {
    filter: none;
    transform: scale(1, 1) rotate(0deg) !important;
    transition: all 0.35s;
}

.polaroid2 {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);  
}

.polaroid2 > img{
    width: 100%;
    height: auto;
}

.item2{
    width: 100%;
    display: inline-block;
    margin-top: 2rem;
}

.bild{
    /* padding: 50px; */
    margin: 20px 5px 20px 5px;
    width: 50vw;
}

.text{
    font-family: 'Ubuntu';
    /* text-align: center; */
    padding: 50px;
    margin: 20px 5px 20px 5px;
    width: 30vw;
    line-height: 140%;
}

/* Spieleabend */
.spieleabende-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

.spieleabende-box .bild {
    position: relative;
    z-index: 1;
    /* padding: 50px; */
    margin: 20px 5px 20px 5px;
    width: 40vw;
}

.spieleabende-box .text {
    font-family: 'Ubuntu';
    position: relative;
    z-index: 1;
    padding: 50px;
    margin: 20px 5px 20px 5px;
    width: 30vw;
    line-height: 140%;
}

.margin{
    margin-top: 8%;
}

.konsolen {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    max-width: 100vw;
    height: auto; 
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    margin: 10px;
}

.box > img {
    width: 80%;
    height: auto;
}

.box:hover {
    transform: scale(1.4); /* Vergrößert das Bild um 10% */
}

.box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.box:hover::after {
    opacity: 1;
}

/* Bilder Karussell */
.slideshow-container {
    max-width: 60vw;
    position: relative;
    margin: auto;
    margin-top: 8%;
}
  
.mySlides {
    display: none;
}
  
img {
    vertical-align: middle;
}
  
/* Schaltflächen zum Wechseln */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev{
    left: -10%;
}
  
.next {
    right: -10%;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
  
/* Punkte */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: black;
    transform: scale(1.5);
}
  
/* Fade-Effekt */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Pop-Up */
.callToAction{
    position: relative;
    text-align: center;
    padding: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.openPopup{
    font-family: 'Videogames';
    background-color: #05A0D1;
    margin: 0 auto;
    padding: 30px 40px;
    border-radius: 20px;
    font-size: 3rem;
    color: white;
    border: none;
    cursor: pointer;
}

.popup{
    display: none;
    position: fixed;
    top: 20%;
    left: 15%;
    width: 70%;
    max-height: 60%;
    justify-content: center;
    align-items: center;
    z-index: 15;
    overflow: hidden;
 }
  
.popup-content{
    background-color: rgb(187, 187, 187);
    padding: 15%;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    position: relative;
}
  
.popup-text{
    color: black;
    font-size: 40px; 
    text-align: center; 
    line-height: 140%;
}
  
.close{
    position: absolute;
    top: 22%;
    right: 2%;
    font-size: 40px;
    z-index: 20;
    cursor: pointer;
    color: black;
    font-weight: bolder;
}

.Repository{
    background-color: #05A0D1;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 2rem;
    color: white;
    border: none;
    cursor: pointer;
}

.footer {
    background-color: #333;
    font-family: 'Ubuntu';
    color: white;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
}

.footer-section h4 {
    margin-bottom: 15px;
}

.footer-section p {
    margin: 0;
    color: #ddd;
}


.footer-section .social-icon {
    margin: 0 20px;
    color: #ddd;
    font-size: 2rem;
    text-decoration: none;
}

.footer-section .social-icon:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
    margin-top: 20px;
    color: #aaa;
}


/* Smartphone */
@media only screen and (max-width: 720px){
    body{
        font-size: 1.4rem;
    }

    h1{
        font-size: 3.5rem;
        line-height: 120%;
        text-align: center;
    }

    h2{
        font-size: 2.5rem;
        line-height: 130%;
        text-align: center;
    }

    .item{
        filter: none;
    }

    .header-bild {
        margin: 0 auto;
        height: 90vh;
        max-width: none;
        position: relative;
        overflow: hidden;
    }
    
    .header-bild video {
        width: 100%; /* Fülle die Breite des Containers */
        height: 100%; /* Fülle die Höhe des Containers */
        max-height: 100vh;
        object-fit: cover; /* Schließt den Container und schneidet überflüssige Teile ab */
        object-position: center; /* Zentriert das Video */
    }

    .floating-text {
        color: black;
        position: absolute;
        z-index: 10;
        top: 50%; /* Startposition in der Mitte des Videos */
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0; /* Unsichtbar zu Beginn */
        transition: opacity 6s ease-in-out;
    }
    
    .header-text {
        margin-top: 5%;
    }

    table, tr, td {
        display: block;
        width: 100%;
        font-size: 1.4rem;
    }
    
    td {
        width: 100%; 
        padding: 30px 18px 30px 18px; 
    }

    #meinVideo {
        height: 80vh;
    }

    .bild-text-box{
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: 0 auto;
        margin-top: 18%;
    }

    .bild{
        width: 100vw;
    }

    .bild-box{
        flex-direction: column;
    }

    .text {
        width: calc(100vw - 20px); /* 100vw minus 10px padding on each side */
        line-height: 130%;
        padding: 0 10px; /* 10px padding on left and right */
        box-sizing: border-box; /* Include padding in the element's total width */
    }

    .slideshow-container{
        max-width: 100vw;
        margin-top: 15%;
    }

    .dot {
        height: 8px;
        width: 8px;
    }
      
    .active, .dot:hover {
        background-color: black;
        transform: scale(1.7);
    }

    .spieleabende-box{
        margin-top: 18%;
    }

    .spieleabende-box .bild {
        position: relative;
        z-index: 1;
        width: 100vw;
        margin-bottom: 0px;
    }
    
    .spieleabende-box .text {
        position: relative;
        z-index: 1;
        width: calc(100vw - 20px); /* 100vw minus 10px padding on each side */
        margin-top: 0px;
        line-height: 130%;
        padding: 0px 10px;
        box-sizing: border-box; /* Include padding in the element's total width */
    }

    .spieleabende-box .xbox {
        display: none;
    }
    
    .margin{
        margin-top: 18%;
    }

    .konsolen {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        max-width: 100vw;
        height: auto; 
    }
    
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 50%;
        margin: 10px;
    }

    .box > img{
        width: 100%;
        height: auto;
    }

    .play-button {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        background-color: #05A0D1;
        color: white;
        border: none;
        border-radius: 1vw;
        cursor: pointer;
    }

    .openPopup{
        font-size: 1.1rem;
        margin-top: 15%;
    }

    .popup{
        display: none;
        position: fixed;
        top: 20%;
        left: 0%;
        width: 100%;
        max-height: 50%;
        justify-content: center;
        align-items: center;
        z-index: 15;
        overflow: hidden;
     }
      
    .popup-content{
        background-color: rgb(187, 187, 187);
        padding: 10%;
        border-radius: 10px;
        text-align: center;
        width: 100%;
        position: relative;
    }
      
    .popup-text{
        font-size: 1.5rem; 
        text-align: center; 
        line-height: 140%;
    }

    .close{
        position: absolute;
        top: 5%;
        right: 2%;
        font-size: 40px;
        z-index: 20;
        cursor: pointer;
        color: black;
        font-weight: bolder;
    }
    
    .Repository{
        font-family: 'Videogames';
        background-color: #05A0D1;
        margin: 0 auto;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 1.5rem;
        color: white;
        border: none;
        cursor: pointer;
    }

    .prev, .next{
        display: none;
    }

    .footer-container {
        flex-direction: column;
        align-content: center;
        text-align: center;
        margin: 0 auto;
    }
    
    .footer-section {
        margin-bottom: 20px;
        margin: 0 auto;
    }
}
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body{
        font-size: 2rem;
    }

    h1{
        font-size: 5rem;
        line-height: 120%;
        text-align: center;
    }

    h2{
        font-size: 4rem;
        line-height: 130%;
        text-align: center;
    }

    .item{
        filter: none;
    }

    .header-bild {
        margin: 0 auto;
        height: 90vh;
        max-width: none;
        position: relative;
        overflow: hidden;
    }
    
    .header-bild video {
        width: 100%; /* Fülle die Breite des Containers */
        height: 100%; /* Fülle die Höhe des Containers */
        max-height: 100vh;
        object-fit: cover; /* Schließt den Container und schneidet überflüssige Teile ab */
        object-position: center; /* Zentriert das Video */
    }

    .floating-text {
        color: black;
        position: absolute;
        z-index: 10;
        top: 50%; /* Startposition in der Mitte des Videos */
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0; /* Unsichtbar zu Beginn */
        transition: opacity 6s ease-in-out;
    }
    
    .header-text {
        margin-top: -2%;
    }

    table, tr, td {
        display: block;
        width: 100%;
        font-size: 2rem;
    }
    
    td {
        width: 100%; 
        padding: 30px 18px 30px 18px; 
    }

    #meinVideo {
        height: 80vh;
    }

    .bild-text-box{
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: 0 auto;
        margin-top: 18%;
    }

    .bild{
        width: 100vw;
    }

    .bild-box{
        flex-direction: column;
    }

    .text {
        width: calc(100vw - 20px); /* 100vw minus 10px padding on each side */
        line-height: 130%;
        padding: 0 10px; /* 10px padding on left and right */
        box-sizing: border-box; /* Include padding in the element's total width */
    }

    .slideshow-container{
        max-width: 100vw;
        margin-top: 15%;
    }

    .dot {
        height: 8px;
        width: 8px;
    }
      
    .active, .dot:hover {
        background-color: black;
        transform: scale(1.7);
    }

    .spieleabende-box{
        margin-top: 18%;
    }

    .spieleabende-box .bild {
        position: relative;
        z-index: 1;
        width: 100vw;
        margin-bottom: 0px;
    }
    
    .spieleabende-box .text {
        position: relative;
        z-index: 1;
        width: calc(100vw - 20px); /* 100vw minus 10px padding on each side */
        margin-top: 0px;
        line-height: 130%;
        padding: 0px 10px;
        box-sizing: border-box; /* Include padding in the element's total width */
    }

    .spieleabende-box .xbox {
        display: none;
    }
    
    .margin{
        margin-top: 18%;
    }

    .konsolen {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        max-width: 100vw;
        height: auto; 
    }
    
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 50%;
        margin: 10px;
    }

    .box > img{
        width: 100%;
        height: auto;
    }

    .play-button {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        background-color: #05A0D1;
        color: white;
        border: none;
        border-radius: 1vw;
        cursor: pointer;
    }

    .openPopup{
        font-size: 2.5rem;
        margin-top: 15%;
    }

    .popup{
        display: none;
        position: fixed;
        top: 20%;
        left: 0%;
        width: 100%;
        max-height: 50%;
        justify-content: center;
        align-items: center;
        z-index: 15;
        overflow: hidden;
     }
      
    .popup-content{
        background-color: rgb(187, 187, 187);
        padding: 10%;
        border-radius: 10px;
        text-align: center;
        width: 100%;
        position: relative;
    }
      
    .popup-text{
        font-size: 1.5rem; 
        text-align: center; 
        line-height: 140%;
    }

    .close{
        position: absolute;
        top: 5%;
        right: 2%;
        font-size: 40px;
        z-index: 20;
        cursor: pointer;
        color: black;
        font-weight: bolder;
    }
    
    .Repository{
        font-family: 'Videogames';
        background-color: #05A0D1;
        margin: 0 auto;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 1.5rem;
        color: white;
        border: none;
        cursor: pointer;
    }

    .prev, .next{
        display: none;
    }

    .footer-container {
        flex-direction: column;
        align-content: center;
        text-align: center;
        margin: 0 auto;
    }
    
    .footer-section {
        margin-bottom: 20px;
        margin: 0 auto;
    }
    
}

/* Darkmode abfrage */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #636363;
        color: white;
    }

    .entspannen,
    .spaß,
    .freundschaft{
        display: block;
        margin: 0 auto;
    }

    .entspannen2,
    .spaß2,
    .freundschaft2{
        display: none;
    }

    .text{
        color: white;
    }

    .bild{
        color: white;
    }

    .spieleabende-box .text {
        color: white;
    }

    .heimkino-box .text {
        color: white;
    }

    .prev, .next{
        color: white;
    }
}

/* Schriftarten */
@font-face {
    font-family: 'Ubuntu';
    src: url(../Schriftart/static/Ubuntu-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Videogames';
    src: url('../Schriftart/PixelGamer-Regular.otf'); /* IE9 Compat Modes */
    font-weight: normal;
    font-style: normal;
}