body{
    margin: 0 auto;
    background-color: lightgrey;
    color: black;
    font-size: 1.5rem;
}

.header-bild{
    margin: 0 auto;
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
    overflow: hidden;
}

.header-bild video {
    width: 100vw;
    height: auto;
    max-height: 100vh;
    object-fit: cover;
}

.header-text{
    font-family: 'Ubuntu';
    width: calc(100vw - 40px); /* 100vw minus 10px padding on each side */
    padding-left: 20px;
    padding-right: 20px;
    line-height: 140%;
    margin-bottom: 20px;
}

.center{
    text-align: center;
}

#meinVideo{
    max-width: 100vw;
}

.play-button {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #05A0D1;
    color: white;
    border: none;
    border-radius: 0.3vw;
    cursor: pointer;
}

h1{
    text-align: center;
    font-size: 4rem;
    
}

h1, h2, h3{
    font-family: 'Videogames';
}

h2{
    font-size: 3rem;
}

.bild-text-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.bild-box{
    display: flex;
    align-items: center; /* Horizontal zentrierte Ausrichtung */
    margin: 0 auto;
    align-content: center;
    max-width: 100vw;
    margin-bottom: 20px;
}

.text-box{
    display: flex;
    align-items: center; /* Horizontal zentrierte Ausrichtung */
    justify-content: center;
}

.polaroid {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);  
}

.polaroid > img{
    max-width: 100%;
    height: auto;
}

.caption {
    font-family: "Permanent Marker", cursive;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    line-height: 2em;
    color: black;
}

.item {
    width: 100%;
    display: inline-block;
    margin-top: 2rem;
    filter: grayscale(100%);
}

.item:hover {
    filter: none;
    transform: scale(1, 1) rotate(0deg) !important;
    transition: all 0.35s;
}

.polaroid2 {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);  
}

.polaroid2 > img{
    width: 100%;
    height: auto;
}

.item2{
    width: 100%;
    display: inline-block;
    margin-top: 2rem;
}

.bild{
    /* padding: 50px; */
    margin: 20px 5px 20px 5px;
    width: 50vw;
}

.mittelbild{
    /* padding: 50px; */
    /* margin: 20px 5px 20px 5px; */
    width: 40vw;
    margin: 0 auto;
}

.mitteltext{
    font-family: 'Ubuntu';
    width: 10vw;
    padding: 50px;
    margin: 20px 5px 20px 5px;
    line-height: 140%;
}

.text{
    font-family: 'Ubuntu';
    /* text-align: center; */
    padding: 50px;
    margin: 20px 5px 20px 5px;
    width: 30vw;
    line-height: 140%;
}

/* Controller Bilder */
.spieleabende-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spieleabende-box .bild {
    position: relative;
    z-index: 1;
    /* padding: 50px; */
    margin: 20px 5px 20px 5px;
    width: 40vw;
}

.spieleabende-box .text {
    font-family: 'Ubuntu';
    position: relative;
    z-index: 1;
    padding: 50px;
    margin: 20px 5px 20px 5px;
    width: 30vw;
    line-height: 140%;
}

.spieleabende-box .xbox {
    position: absolute;
    z-index: 0;
    top: 10%; /* Abstand von oben, anpassen nach Bedarf */
    left: 11%; /* Abstand von links, anpassen nach Bedarf */
    width: 7vw; /* Größe des Controllers, anpassen nach Bedarf */
    /* rotate: -30deg; */
    animation: moveAndRotateleft 8s infinite;
}

.spieleabende-box .playstation {
    position: absolute;
    z-index: 0;
    bottom: 20px; /* Abstand von unten, anpassen nach Bedarf */
    right: 13vw; /* Abstand von rechts, anpassen nach Bedarf */
    width: 6vw; /* Größe des Controllers, anpassen nach Bedarf */
    /* rotate: 30deg; */
    /* animation: moveAndRotateright 8s infinite; */
}

@keyframes moveAndRotateright {
    0% {
        transform: translateX(0) rotate(0deg);
    }
    50% {
        transform: translateX(4vw) rotate(30deg); /* Passe die Werte nach Bedarf an */
    }
    100% {
        transform: translateX(0) rotate(0deg);
    }
}

@keyframes moveAndRotateleft {
    0% {
        transform: translateX(0) rotate(0deg);
    }
    50% {
        transform: translateX(-4vw) rotate(-30deg); /* Passe die Werte nach Bedarf an */
    }
    100% {
        transform: translateX(0) rotate(0deg);
    }
}

.konsolen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    max-width: 100vw;
    height: auto; 
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 20%;
    margin: 10px;
}

.box:hover {
    transform: scale(1.1); /* Vergrößert das Bild um 10% */
}

.box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.box:hover::after {
    opacity: 1;
}

/* Bilder Karussell */

.slideshow-container {
    max-width: 60vw;
    position: relative;
    margin: auto;
}
  
.mySlides {
    display: none;
}
  
img {
    vertical-align: middle;
}
  
/* Schaltflächen zum Wechseln */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev{
    left: -10%;
}
  
.next {
    right: -10%;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
  
/* Punkte */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: black;
    transform: scale(1.5);
}
  
/* Fade-Effekt */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.callToAction{
    position: relative;
    text-align: center;
    padding: 50px;
}

.openPopup{
    font-family: 'Videogames';
    background-color: #05A0D1;
    margin: 0 auto;
    padding: 30px 40px;
    border-radius: 20px;
    font-size: 3rem;
    color: white;
    border: none;
    cursor: pointer;
}

.popup{
    display: none;
    position: fixed;
    top: 20%;
    left: 15%;
    width: 70%;
    max-height: 50%;
    justify-content: center;
    align-items: center;
    z-index: 15;
    overflow: hidden;
 }
  
.popup-content{
    background-color: rgb(187, 187, 187);
    padding: 15%;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    position: relative;
}
  
.popup-text{
    color: black;
    font-size: 40px; 
    text-align: center; 
    line-height: 140%;
}
  
.close{
    position: absolute;
    top: 22%;
    right: 2%;
    font-size: 40px;
    z-index: 20;
    cursor: pointer;
    color: black;
    font-weight: bolder;
}

.Repository{
    background-color: #05A0D1;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 2rem;
    color: white;
    border: none;
    cursor: pointer;
}

/* Smartphone */
@media only screen and (max-width: 720px){
    body{
        font-size: 1.4rem;
    }

    h1{
        font-size: 3rem;
        line-height: 120%;
        text-align: center;
    }

    h2{
        font-size: 2.5rem;
        line-height: 130%;
        text-align: center;
    }

    .item{
        filter: none;
    }

    .header-bild {
        margin: 0 auto;
        height: 80vh;
        max-width: none;
        position: relative;
        overflow: hidden;
    }
    
    .header-bild video {
        width: 100%; /* Fülle die Breite des Containers */
        height: 100%; /* Fülle die Höhe des Containers */
        max-height: 100vh;
        object-fit: cover; /* Schließt den Container und schneidet überflüssige Teile ab */
        object-position: center; /* Zentriert das Video */
    }
    
    .header-text {
        width: calc(100vw - 30px); /* 100vw minus 10px padding on each side */
        padding-left: 15px;
        padding-right: 15px;
        line-height: 130%;
    }
    
    #meinVideo {
        height: 80vh;
    }

    .bild-text-box{
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: 0 auto;
    }

    .bild{
        width: 100vw;
    }

    .mittelbild{
        width: 100vw;
        margin-bottom: 0px;
    }

    .mitteltext > .mittelbild{
        margin-top: 0px;
    }

    .bild-box{
        flex-direction: column;
    }

    .mitteltext{
        width: calc(100vw - 20px); /* 100vw minus 10px padding on each side */
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 130%;
        padding: 0 10px; /* 10px padding on left and right */
        box-sizing: border-box; /* Include padding in the element's total width */
    }

    .text {
        width: calc(100vw - 20px); /* 100vw minus 10px padding on each side */
        line-height: 130%;
        padding: 0 10px; /* 10px padding on left and right */
        box-sizing: border-box; /* Include padding in the element's total width */
    }

    h1{
        line-height: 120%;
    }

    h2{
        line-height: 130%;
        text-align: center;
    }

    .slideshow-container{
        max-width: 100vw;
    }

    .spieleabende-box .bild {
        position: relative;
        z-index: 1;
        width: 100vw;
        margin-bottom: 0px;
    }
    
    .spieleabende-box .text {
        position: relative;
        z-index: 1;
        width: calc(100vw - 20px); /* 100vw minus 10px padding on each side */
        margin-top: 0px;
        line-height: 130%;
        padding: 0px 10px;
        box-sizing: border-box; /* Include padding in the element's total width */
    }

    .spieleabende-box .xbox {
        top: -10px; /* Abstand von oben, anpassen nach Bedarf */
        left: 6vw; /* Abstand von links, anpassen nach Bedarf */
        width: 13vw; /* Größe des Controllers, anpassen nach Bedarf */
        rotate: 0deg;
        animation: none;
    }
    
    .spieleabende-box .playstation {
        bottom: -10px; /* Abstand von unten, anpassen nach Bedarf */
        right: 6vw; /* Abstand von rechts, anpassen nach Bedarf */
        width: 13vw; /* Größe des Controllers, anpassen nach Bedarf */
        rotate: 180deg;
        animation: none;
    }

    .konsolen {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        max-width: 100vw;
        height: auto; 
    }
    
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 50%;
        margin: 10px;
    }

    .box > img{
        width: 100%;
        height: auto;
    }

    .play-button {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        background-color: #05A0D1;
        color: white;
        border: none;
        border-radius: 1vw;
        cursor: pointer;
    }

    .openPopup{
        font-size: 1.1rem;
    }

    .popup{
        display: none;
        position: fixed;
        top: 20%;
        left: 0%;
        width: 100%;
        max-height: 50%;
        justify-content: center;
        align-items: center;
        z-index: 15;
        overflow: hidden;
     }
      
    .popup-content{
        background-color: rgb(187, 187, 187);
        padding: 10%;
        border-radius: 10px;
        text-align: center;
        width: 100%;
        position: relative;
    }
      
    .popup-text{
        font-size: 1.5rem; 
        text-align: center; 
        line-height: 140%;
    }

    .close{
        position: absolute;
        top: 5%;
        right: 2%;
        font-size: 40px;
        z-index: 20;
        cursor: pointer;
        color: black;
        font-weight: bolder;
    }
    
    .Repository{
        font-family: 'Videogames';
        background-color: #05A0D1;
        margin: 0 auto;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 1.5rem;
        color: white;
        border: none;
        cursor: pointer;
    }

    .prev, .next{
        display: none;
    }
    
}
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body{
        font-size: 2rem;
    }

    h1{
        font-size: 3.5rem;
        line-height: 120%;
        text-align: center;
    }

    h2{
        font-size: 3rem;
        line-height: 130%;
        text-align: center;
    }

    .item{
        filter: none;
    }

    .header-bild {
        margin: 0 auto;
        height: 80vh;
        max-width: none;
        position: relative;
        overflow: hidden;
    }
    
    .header-bild video {
        width: 100%; /* Fülle die Breite des Containers */
        height: 100%; /* Fülle die Höhe des Containers */
        max-height: 100vh;
        object-fit: cover; /* Schließt den Container und schneidet überflüssige Teile ab */
        object-position: center; /* Zentriert das Video */
    }
    
    .header-text {
        width: calc(100vw - 30px); /* 100vw minus 10px padding on each side */
        padding-left: 15px;
        padding-right: 15px;
        line-height: 130%;
    }
    
    #meinVideo {
        height: 80vh;
    }

    .bild-text-box{
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: 0 auto;
    }

    .bild{
        width: 100vw;
    }

    .mittelbild{
        width: 100vw;
        margin-bottom: 0px;
    }

    .mitteltext > .mittelbild{
        margin-top: 0px;
    }

    .bild-box{
        flex-direction: column;
    }

    .mitteltext{
        width: calc(100vw - 20px); /* 100vw minus 10px padding on each side */
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 130%;
        padding: 0 10px; /* 10px padding on left and right */
        box-sizing: border-box; /* Include padding in the element's total width */
    }

    .text {
        width: calc(100vw - 20px); /* 100vw minus 10px padding on each side */
        line-height: 130%;
        padding: 0 10px; /* 10px padding on left and right */
        box-sizing: border-box; /* Include padding in the element's total width */
    }

    h1{
        line-height: 120%;
    }

    h2{
        line-height: 130%;
        text-align: center;
    }

    .slideshow-container{
        max-width: 100vw;
    }

    .spieleabende-box .bild {
        position: relative;
        z-index: 1;
        width: 100vw;
        margin-bottom: 0px;
    }
    
    .spieleabende-box .text {
        position: relative;
        z-index: 1;
        width: calc(100vw - 20px); /* 100vw minus 10px padding on each side */
        margin-top: 0px;
        line-height: 130%;
        padding: 0px 10px;
        box-sizing: border-box; /* Include padding in the element's total width */
    }

    .spieleabende-box .xbox {
        top: -10px; /* Abstand von oben, anpassen nach Bedarf */
        left: 6vw; /* Abstand von links, anpassen nach Bedarf */
        width: 13vw; /* Größe des Controllers, anpassen nach Bedarf */
        rotate: 0deg;
        animation: none;
    }
    
    .spieleabende-box .playstation {
        bottom: -10px; /* Abstand von unten, anpassen nach Bedarf */
        right: 6vw; /* Abstand von rechts, anpassen nach Bedarf */
        width: 13vw; /* Größe des Controllers, anpassen nach Bedarf */
        rotate: 180deg;
        animation: none;
    }

    .konsolen {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        max-width: 100vw;
        height: auto; 
    }
    
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40%;
        width: 40%;
        margin: 10px;
    }

    .box > img{
        width: 100%;
        height: auto;
    }

    .play-button {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        background-color: #05A0D1;
        color: white;
        border: none;
        border-radius: 1vw;
        cursor: pointer;
    }

    .openPopup{
        font-size: 1.5rem;
    }

    .prev, .next{
        display: none;
    }
    
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #636363;
        color: white;
    }

    .text{
        color: white;
    }

    .bild{
        color: white;
    }

    .spieleabende-box .text {
        color: white;
    }

    .heimkino-box .text {
        color: white;
    }

    .prev, .next{
        color: white;
    }
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../Schriftart/static/Ubuntu-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Videogames';
    src: url('../Schriftart/PixelGamer-Regular.otf'); /* IE9 Compat Modes */
    font-weight: normal;
    font-style: normal;
}