body{
    font-family: 'EB Garamond';
    margin: 0 auto;
    background-color: white;
    color: black;
}
/*
.header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
*/
.header-bild{
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    padding: 200px 0px 200px 0px;
}

.bild-text-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bild-box{
    display: flex;
    flex-direction: column; /* Die Elemente werden vertikal untereinander angezeigt */
    align-items: center; /* Horizontal zentrierte Ausrichtung */
    margin: 0 auto;
}

.text-box{
    display: flex;
    align-items: center; /* Horizontal zentrierte Ausrichtung */
    justify-content: center;
}

.text-box > div{
    width: 95vw;
}

.bild{
    box-shadow: 5px 5px 10px #bbbbbb;
    /* padding: 50px; */
    margin: 20px 5px 20px 5px;
    width: 40vw;
}

.mittelbild{
    display: flex;
    flex-direction: column; /* Die Elemente werden vertikal untereinander angezeigt */
    align-items: center; /* Horizontal zentrierte Ausrichtung */
    box-shadow: 5px 5px 10px #bbbbbb;
    margin-top: 20px;  
}

.mittelbild > img{
    max-width: 90vw;
}

.text{
    text-align: center;
    background-color: #e9e9e9;
    box-shadow: 5px 5px 10px #bbbbbb;
    padding: 50px;
    margin: 20px 5px 20px 5px;
    width: 30vw;
}

h2{
    margin-left: 5vw;
}


/*
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
*/
@media only screen and (max-width: 720px){
    
    .bild-text-box{
        display: block;
    }

    .bild{
        width: 95vw;
        border: 1px solid black;
        box-shadow: none;
        padding: 0;
        margin-bottom: 0px;
    }

    .text{
        width: 95vw;
        border: 1px solid black;
        box-shadow: none;
        padding: 0;
        margin-top: 0px;
    }
    
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #080d3b;
        color: white;
    }

    .text{
        background-color: #232857;
        color: white;
        box-shadow: 3px 3px 8px black;
    }

    .bild{
        background-color: #232857;
        color: white;
        box-shadow: 3px 3px 8px black;
    }

    .mittelbild{
        background-color: #232857;
        color: white;
        box-shadow: 5px 5px 10px black;
    }
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../Schriftart/static/EBGaramond-SemiBold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../Schriftart/static/EBGaramond-ExtraBold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}